<section>
  <div class="filter-header">
    <div class="filter-options-wrapper">
      <div class="filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="filter-option"
             (click)="chooseFilterOption(option)">
          <i [classList]="isFilterOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{option | titlecase}}
        </div>
      </div>
    </div>
  </div>
  <div class="filter-options-content-wrapper">
    <div class="filter-form-wrapper">
      <form class="filter-form" *ngIf="chosenFilterOptions.length !== 0"
            (ngSubmit)="applyFilter()"
            novalidate>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.employee)">
          <div class="dropdown-input-wrapper">
            <div class="dropdown-button-wrapper">
              <label for="employee">Employee</label>
              <div class="input-group">
                <div class="input-group-main-section"
                     (click)="toggleDropdownOptions('enterprise.employee')">
                  <input
                    [value]="chosenEmployee ? chosenEmployee.name : ''"
                    type="text" id="employee" name="employee" autocomplete="off">
                </div>
                <div class="clear-input" *ngIf="chosenEmployee" (click)="clearInputField('enterprise.employee')"><i class="fas fa-times"></i></div>
                <div class="input-append"
                     (click)="toggleDropdownOptions('enterprise.employee')">
                  <i [classList]="isEmployeeOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                </div>
                <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.employee')">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
            <div class="dropdown-options-wrapper"
                 *ngIf="isEmployeeOptionsShown">
              <div class="dropdown-option"
                   *ngFor="let employee of employees; index as i"
                   [class.dropdown-option-first]="i==0"
                   (click)="chooseADropdownOption('enterprise.employee', employee)">
                {{employee.name}}
              </div>
              <div class="dropdown-option dropdown-option-last"
                   (click)="showFilterComponentForCurrentField('enterprise.employee')">
                more...
              </div>
            </div>
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.timesheet)">
          <div class="dropdown-input-wrapper">
            <div class="dropdown-button-wrapper">
              <label for="timesheet">Timesheet</label>
              <div class="input-group">
                <div class="input-group-main-section"
                     (click)="toggleDropdownOptions('erpTimesheets.timesheet')">
                  <input
                    [value]="chosenTimesheet ? chosenTimesheet.name : ''"
                    type="text" id="timesheet" name="timesheet" autocomplete="off">
                </div>
                <div class="clear-input" *ngIf="chosenTimesheet"
                     (click)="clearInputField('erpTimesheets.timesheet')"><i class="fas fa-times"></i></div>
                <div class="input-append"
                     (click)="toggleDropdownOptions('erpTimesheets.timesheet')">
                  <i [classList]="isTimesheetOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                </div>
                <div class="input-append" (click)="showFilterComponentForCurrentField('erpTimesheets.timesheet')">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
            <div class="dropdown-options-wrapper"
                 *ngIf="isTimesheetOptionsShown">
              <div class="dropdown-option"
                   *ngFor="let timesheet of timesheets; index as i"
                   [class.dropdown-option-first]="i==0"
                   (click)="chooseADropdownOption('erpTimesheets.timesheet', timesheet)">
                {{timesheet.name}}
              </div>
              <div class="dropdown-option dropdown-option-last"
                   (click)="showFilterComponentForCurrentField('erpTimesheets.timesheet')">
                more...
              </div>
            </div>
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.project)">
          <div class="dropdown-input-wrapper">
            <div class="dropdown-button-wrapper">
              <label for="project">Project</label>
              <div class="input-group">
                <div class="input-group-main-section"
                     (click)="toggleDropdownOptions('enterprise.project')">
                  <input
                    [value]="chosenProject ? chosenProject.name : ''"
                    type="text" id="project" name="project" autocomplete="off">
                </div>
                <div class="clear-input" *ngIf="chosenProject" (click)="clearInputField('enterprise.project')"><i
                  class="fas fa-times"></i></div>
                <div class="input-append"
                     (click)="toggleDropdownOptions('enterprise.project')">
                  <i [classList]="isProjectOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                </div>
                <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.project')">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
            <div class="dropdown-options-wrapper"
                 *ngIf="isProjectOptionsShown">
              <div class="dropdown-option"
                   *ngFor="let project of projects; index as i"
                   [class.dropdown-option-first]="i==0"
                   (click)="chooseADropdownOption('enterprise.project', project)">
                {{project.name}}
              </div>
              <div class="dropdown-option dropdown-option-last"
                   (click)="showFilterComponentForCurrentField('enterprise.project')">
                more...
              </div>
            </div>
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.subproject)">
          <div class="dropdown-input-wrapper">
            <div class="dropdown-button-wrapper">
              <label for="subproject">Subproject</label>
              <div class="input-group">
                <div class="input-group-main-section"
                     (click)="toggleDropdownOptions('enterprise.subproject')">
                  <input
                    [value]="chosenSubproject ? chosenSubproject.name : ''"
                    type="text" id="subproject" name="subproject" autocomplete="off">
                </div>
                <div class="clear-input" *ngIf="chosenSubproject"
                     (click)="clearInputField('enterprise.subproject')"><i class="fas fa-times"></i></div>
                <div class="input-append"
                     (click)="toggleDropdownOptions('enterprise.subproject')">
                  <i [classList]="isSubprojectOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                </div>
                <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.subproject')">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
            <div class="dropdown-options-wrapper"
                 *ngIf="isSubprojectOptionsShown">
              <div class="dropdown-option"
                   *ngFor="let subproject of subprojects; index as i"
                   [class.dropdown-option-first]="i==0"
                   (click)="chooseADropdownOption('enterprise.subproject', subproject)">
                {{subproject.name}}
              </div>
              <div class="dropdown-option dropdown-option-last"
                   (click)="showFilterComponentForCurrentField('enterprise.subproject')">
                more...
              </div>
            </div>
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.workingMonth)">
          <div class="dropdown-input-wrapper">
            <div class="dropdown-button-wrapper">
              <label for="workingMonth">Working Month</label>
              <div class="input-group">
                <div class="input-group-main-section"
                     (click)="toggleDropdownOptions('enterprise.workingMonth')">
                  <input
                    [value]="chosenWorkingMonth ? chosenWorkingMonth.name : ''"
                    type="text" id="workingMonth" name="workingMonth" autocomplete="off">
                </div>
                <div class="clear-input" *ngIf="chosenWorkingMonth" (click)="clearInputField('enterprise.workingMonth')"><i class="fas fa-times"></i></div>
                <div class="input-append"
                     (click)="toggleDropdownOptions('enterprise.workingMonth')">
                  <i [classList]="isWorkingMonthOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                </div>
                <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.workingMonth')">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
            <div class="dropdown-options-wrapper"
                 *ngIf="isWorkingMonthOptionsShown">
              <div class="dropdown-option"
                   *ngFor="let workingMonth of workingMonths; index as i"
                   [class.dropdown-option-first]="i==0"
                   (click)="chooseADropdownOption('enterprise.workingMonth', workingMonth)">
<!--                {{workingMonth.name}}-->
                {{workingMonth.month}}:{{workingMonth.year.name}}
              </div>
              <div class="dropdown-option dropdown-option-last"
                   (click)="showFilterComponentForCurrentField('enterprise.workingMonth')">
                more...
              </div>
            </div>
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.status)">
          <div>
            <label for="status">Status</label>
            <input
              [(ngModel)]="fetchItemConditions.status"
              type="text" id="status" name="status">
          </div>
        </div>
        <div class="filter-form-buttons-wrapper">
          <div class="clear-filter" (click)="clearFilters()">
            Clear all filters
          </div>
          <div>
            <button type="submit" class="standard-submit-button">
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="filter-form-supports-wrapper">
      <div class="filter-form-support" *ngIf="isFilterListShown || showListForFirstFilter">
        <app-timesheet-entry-filter-list [timesheetEntryApiData]="timesheetEntryApiData" (selectedTimesheetEntry)="onSelectTimesheetEntry($event)"></app-timesheet-entry-filter-list>
      </div>
    </div>
  </div>
</section>
