<section>
  <div class="page-content" *ngIf="!currentUser">
    Login to see content!
  </div>
  <ng-container *ngIf="currentUser">
    <div class="page-content">

      <div class="page-content-actions-wrapper">
        <div class="page-content-action-link-wrapper">
          <div class="page-content-action-link"
               (click)="goToAddTimesheetEntryForm()">
              <span *ngIf="timesheetEntries.length !== 0">
                New
              </span>
            <span *ngIf="timesheetEntries.length === 0">
                Add first item
              </span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="timesheetEntries.length !== 0">
        <div class="main-table-wrapper">
          <table>
            <thead>
            <tr>

              <th>Timesheet</th>
              <th>Project</th>
              <th>Subproject</th>
              <th>
                Date
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.date"
                     (click)="enableSort(fields.date)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.date)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.date"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th>
                Hours
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.hours"
                     (click)="enableSort(fields.hours)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.hours)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.hours"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th>
                Status
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.status"
                     (click)="enableSort(fields.status)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.status)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.status"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th>
                Description
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.description"
                     (click)="enableSort(fields.description)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.description)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.description"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let entry of timesheetEntries">
              <tr (click)="goToTimesheetEntryDetailPage(entry.externalId)">

                <td>
                  <a *ngIf="entry.timesheet" (click)="$event.stopPropagation()"
                     routerLink="/timesheets/{{entry.timesheet.externalId}}/timesheetentries">
                    {{entry.timesheet.name}}
                  </a>
                </td>
                <td>
                  <a *ngIf="entry.project" (click)="$event.stopPropagation()"
                     routerLink="/projects/{{entry.project.externalId}}/projectresourceroles">
                    {{entry.project.name}}
                  </a>
                </td>
                <td>
                  <a *ngIf="entry.subproject" (click)="$event.stopPropagation()"
                     routerLink="/subprojects/{{entry.subproject.externalId}}">
                    {{entry.subproject.name}}
                  </a>
                </td>
                <td>{{entry.date | date : 'dd/MM/YYYY'}}</td>
                <td>{{entry.hours}}</td>
                <td class="status"
                    [class.status-open]="entry.status === 'Open'">
                  {{entry.status}}
                </td>
                <td>{{entry.description}}</td>
                <td>
                  <div class="action-button-wrapper">
                    <div class="action-button-icon-wrapper">
                      <div (click)="goToEditTimesheetEntryForm(entry.externalId)">
                        <i class="fas fa-pen"></i>
                      </div>
                    </div>
                    <div class="action-button-icon-wrapper">
                      <form>
                        <button class="button-inside-action-menu" type="submit"
                                (click)="delete(entry.externalId)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>

        <div class="pagination-wrapper" *ngIf="page && page.totalPages !== 0">
          <div class="pagination">
            <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
                 (click)="displayFirstPageOfList()">
              <i class="fas fa-angle-double-left"></i>
            </div>
            <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
                 (click)="displayPreviousPageOfList()">
              <i class="fas fa-angle-left"></i>
            </div>
            <div>Page {{page.number}} of {{page.totalPages}}</div>
            <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
                 (click)="displayNextPageOfList()">
              <i class="fas fa-angle-right"></i>
            </div>
            <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
                 (click)="displayLastPageOfList()">
              <i class="fas fa-angle-double-right"></i>
            </div>
          </div>
        </div>
      </ng-container>


    </div>
  </ng-container>

</section>

