section {
  width: 100%;
  min-height: calc(100vh - 179.6px);
  height: 100%;
  display: flex;
}

.page-content {
  flex: 70%;
  padding: 20px 0 20px 60px;
}

/*  Filter component  */

.filter-component-wrapper {
  flex: 30%;
  padding: 20px;
  border-left: 1px solid #e6e9ef;
}

/* ----- PAGE CONTENT ----- */

/*  Action buttons  */

.page-content-actions-wrapper {
  margin-bottom: 20px;
}

.page-content-action-link-wrapper {
  position: relative;
}

.page-content-action-link,
.page-content-action-link-active {
  cursor: pointer;
  border: none;
  height: 35px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0085ff;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 5px;
  color: #ffffff;
}

.page-content-action-link:hover {
  background-color: #0071d9;
}

.page-content-action-link-active {
  color: #0085ff;
  background-color: #e5f4ff;
}

/*  Pagination  */

.pagination-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  min-width: 262px;
}

.pagination div {
  display: inline-block;
}

.pagination div {
  color: #767676;
  padding: 4px 13px;
  text-decoration: none;
  border: 1px solid #dddddd;
  border-left: none;
}

.pagination div:first-child {
  border-left: 1px solid #dddddd;
}

.pagination .link {
  cursor: pointer;
}

.pagination .link-inactive {
  color: #a0a0a0;
  cursor: default;
}

.pagination .link:hover:not(.active) {
  background-color: #ddd;
}

.pagination div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ----- MAIN TABLE ----- */

.main-table-wrapper {
  width: 100%;
}

.main-table-section-header, .main-table-section-content {
  width: 100%;
}

.main-table-section-header {
  font-weight: bold;
}

/*  Table  */

table {
  width: 100%;
}

tr {
  cursor: pointer;
}

th, td {
  text-align: left;
  color: #666666;
  background-color: #f5f6f8;
  padding: 2px 10px;
}

th {
  padding-top: 10px;
  border-radius: 4px 4px 0 0;
  position: relative;
}

thead > tr > th:last-child,
tbody > tr > td:last-child {
  background-color: transparent;
  width: 60px; /* if change, need to change padding left of .page-content-action-pagination-wrapper as well */
  padding-left: 0;
  padding-right: 0;
}

/*  Sort button  */

.sort-button-wrapper {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: calc(50% - 10px);
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.clear-sort-button {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  font-size: 0.7rem;
  position: absolute;
  top: -10px;
  z-index: 3;
  background: #ffffff;
  border-radius: 20px;
  left: calc(50% + 10px);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.sort-button-wrapper:hover,
.sort-button-wrapper-active,
.clear-sort-button:hover {
  color: #ffffff;
  background-color: #0085ff;
}

th:hover .clear-sort-button {
  visibility: visible;
}

/*  Action buttons  */

.action-button-wrapper {
  z-index: 2;
  display: flex;
}

tr:hover .action-button-icon-wrapper {
  visibility: visible;
}

.action-button-icon-wrapper,
.action-button-icon-wrapper-invisible {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #e6e9ef;
  visibility: hidden;
  cursor: pointer;
}

.action-button-icon-wrapper:hover {
  color: #767676;
}

.button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

/*  Sub table  */

.sub-table-wrapper {
  display: table-cell;
  background-color: #ffffff;
}

/*  Custom columns  */

/*  Status  */

.status-open {
  background-color: #00c875;
  color: #ffffff;
}

/*  Sub items icons  */
.subitem {
  cursor: pointer;
}

.subitem-title {
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  border-bottom: 4px solid #0085ff;
}

.subitem:hover {
  color: #0085ff;
}

.no-subitem {
  color: #cccccc;
}

/* ----- TOOLTIP ----- */

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8rem;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ----- FORM ----- */

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input, select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1rem;
}

form .standard-submit-button {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

form .standard-submit-button:hover {
  background-color: #45a049;
}

form .standard-submit-button:focus {
  outline: none;
}

/* ----- LINKS ----- */

a {
  color: #1f76c2;
  text-decoration: none;
}

a:hover {
  color: #0085ff;
}

