section {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e9ef;
}
/* ----- BOARD HEADER ----- */

.board-header {
  border-bottom: 1px solid #e6e9ef;
  padding: 10px;
  text-align: left;
}

.heading {
  font-size: 1.5rem;
  padding: 10px;
}

.number-of-items {
  padding-left: 10px;
}

/* ----- BOARD CONTENT ----- */

.board-content {
  width: 100%;
  padding: 20px;
}

/*  Action buttons and pagination  */

.board-content-action-pagination-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 1rem;
}

/*  Pagination  */

.pagination-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  min-width: 262px;
}

.pagination div {
  display: inline-block;
}

.pagination div {
  color: #767676;
  padding: 4px 13px;
  text-decoration: none;
  border: 1px solid #dddddd;
  border-left: none;
}

.pagination div:first-child {
  border-left: 1px solid #dddddd;
}

.pagination .link {
  cursor: pointer;
}

.pagination .link-inactive {
  color: #a0a0a0;
  cursor: default;
}

.pagination .link:hover:not(.active) {
  background-color: #ddd;
}

.pagination div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*  Filter component  */

.filter-component-wrapper {
  padding-left: 0;
}

/* ----- MAIN TABLE ----- */

.main-table-wrapper {
  width: 100%;
}

.main-table-section-header, .main-table-section-content {
  width: 100%;
}

.main-table-section-header {
  font-weight: bold;
}

/*  Table  */

table {
  width: 100%;
}

th {
  text-align: left;
  color: #666666;
  background-color: #f5f6f8;
  padding: 7px 10px;
  border-radius: 4px 4px 0 0;
  position: relative;
}

td {
  cursor: pointer;
  text-align: left;
  color: #1f76c2;
  background-color: #f5f6f8;
  padding: 7px 10px;
}

td:hover {
  color: #0085ff;
}

/*  Sort button  */

.sort-button-wrapper {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: calc(50% - 10px);
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.sort-button-wrapper:hover,
.sort-button-wrapper-active {
  color: #ffffff;
  background-color: #0085ff;
}

/* ----- LINKS ----- */

a {
  color: #1f76c2;
  text-decoration: none;
}

a:hover {
  color: #0085ff;
}

