<section>
  <div class="board-header">
    <h2>Employee Types</h2>
    <div *ngIf="page && page.totalElements" class="number-of-items">
      <p>
        {{page.totalElements}} items
      </p>
    </div>
  </div>
  <div class="board-content">

    <div class="main-table-wrapper">
      <div class="main-table-section-wrapper">
        <table>
          <thead>
          <tr>
            <th>
              Name
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let employeeType of employeeTypes">
            <tr (click)="selectEmployeeType(employeeType)">
              <td>
                {{employeeType.name}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="board-content-action-pagination-wrapper">
      <div *ngIf="page && page.totalPages !== 0" class="pagination-wrapper">
        <div class="pagination">
          <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
               (click)="displayFirstPageOfList()">
            <i class="fas fa-angle-double-left"></i>
          </div>
          <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
               (click)="displayPreviousPageOfList()">
            <i class="fas fa-angle-left"></i>
          </div>
          <div>Page {{page.number}} of {{page.totalPages}}</div>
          <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
               (click)="displayNextPageOfList()">
            <i class="fas fa-angle-right"></i>
          </div>
          <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
               (click)="displayLastPageOfList()">
            <i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



