/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}
