<section>
  <div class="filter-header">
    <div class="filter-options-wrapper">
      <div class="filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="filter-option"
             (click)="chooseOption(option)">
          <i [classList]="isOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{option | titlecase}}
        </div>
      </div>
    </div>
  </div>
  <div class="filter-options-content-wrapper">
    <div class="filter-form-wrapper">
      <form class="filter-form" *ngIf="chosenFilterOptions.length !== 0"
            (ngSubmit)="applyFilter()"
            novalidate>
        <div class="filter-option-content" *ngIf="findChosenOptionIndex(fields.name) !== -1">
          <div>
            <label for="name">Name</label>
            <input
              [(ngModel)]="fetchItemConditions.name"
              type="text" id="name" name="name">
          </div>
        </div>
        <div class="filter-form-buttons-wrapper">
          <div class="clear-filter" (click)="clearFilters()">
            Clear all filters
          </div>
          <div>
            <button type="submit" class="standard-submit-button">
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="filter-form-supports-wrapper">
      <div  class="filter-form-support" *ngIf="isFilterListShown">
        <app-employee-type-filter-list [employeeTypes]="employeeTypes" (selectedEmployeeType)="onSelectEmployeeType($event)"></app-employee-type-filter-list>
      </div>
    </div>
  </div>

</section>
