section {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.filter-header {

}

.filter-options-wrapper {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.filter-options-wrapper > div {
  padding: 0 20px 10px 20px;
}

.filter-option-wrapper {
  cursor: pointer;
}

.filter-option-wrapper:hover i {
  color: #0085ff;
}

.filter-options-content-wrapper {
  /*display: flex;*/
}

.filter-form-wrapper {
  min-width: 300px;
  flex: 40%;
  padding: 10px;
}

.filter-form-supports-wrapper {
  flex: 60%;
  padding: 10px;
}

.filter-form-support {
  /*border-left: 1px solid #cccccc;*/
}

/* ----- FORM ----- */

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

input, select {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1rem;
}

form .standard-submit-button {
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

form .standard-submit-button:hover {
  background-color: #45a049;
}

form .standard-submit-button:focus {
  outline: none;
}

form .dropdown-input-wrapper {
  position: relative;
  width: 100%;
}

form .dropdown-button-wrapper {

}

form .input-group {
  display: flex;
}

form .input-group-main-section {
  flex-basis: 100%;
}

form .input-group-main-section input {
  border-radius: 4px 0 0 4px;
}

form .input-append {
  border: 1px solid #ccc;
  border-left: none;
  width: 40px;
  margin-top: 6px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

form .input-append:hover {
  background-color: #e6e9ef;
}

form .dropdown-options-wrapper {
  background-color: #ffffff;
  width: 100%;
  max-height: 175px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  top: 65px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

form .dropdown-option {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

form .dropdown-option:hover {
  background-color: #e6e9ef;
}

form .dropdown-option-last {
  font-style: italic;
}

/* ----- CUSTOM FORM STYLE FOR FILTER ONLY ----- */
.filter-form-buttons-wrapper {
  display: flex;
}

.filter-form-buttons-wrapper > div {
  flex: 50%;
}

.clear-filter {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 3px;
  border: 1px solid #cccccc;
  color: #767676;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-filter:hover {
  background-color: #e6e9ef;
}
