.breadcrumbs {
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  zoom: 1;
  vertical-align: top;
}

.breadcrumbs-item {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
  padding: 10px;
}

.breadcrumbs-text {
  font-size: 0.9rem;
  color: #1f76c2;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s ease;
}

.breadcrumbs-text:hover {
  color: #0085ff;
}

.breadcrumbs-text-active {
  color: #767676;
}

.breadcrumbs-item-separator {
  padding: 10px 0;
}

.filter-wrapper {
  border-top: 1px solid #cccccc;
}
