<section>
    <h3>Filters</h3>
  <div class="breadcrumbs">
    <ng-container *ngFor="let elementFullName of filterBreadcrumbs; index as i">
      <a class="breadcrumbs-item" (click)="displayFilter(elementFullName)">
        <span [classList]="i === filterBreadcrumbs.length - 1 ? 'breadcrumbs-text-active' : 'breadcrumbs-text'">
          <span *ngIf="i === 0"><i class="fas fa-filter"></i>&nbsp;</span>
          {{getElementDisplayName(elementFullName) | titlecase}}
        </span>
      </a>
      <div class="breadcrumbs-item-separator" *ngIf="i !== filterBreadcrumbs.length - 1">/</div>
    </ng-container>
  </div>
  <div class="filter-wrapper">
    <app-timesheet-filter  [showListForFirstFilter]="showListForFirstFilter"
      *ngIf="nameOfElementBeingFiltered() === 'erpTimesheets.timesheet'"
      (filterResult)="retrieveFilterResult($event)"></app-timesheet-filter>

    <app-timesheet-entry-filter  [showListForFirstFilter]="showListForFirstFilter"
                           *ngIf="nameOfElementBeingFiltered() === 'erpTimesheets.timesheetEntry'"
                           (filterResult)="retrieveFilterResult($event)"></app-timesheet-entry-filter>

    <app-employee-filter [showListForFirstFilter]="showListForFirstFilter"
      *ngIf="nameOfElementBeingFiltered() === 'enterprise.employee'"
      (filterResult)="retrieveFilterResult($event)"></app-employee-filter>

    <app-employee-type-filter [showListForFirstFilter]="showListForFirstFilter"
      *ngIf="nameOfElementBeingFiltered() === 'enterprise.employeeType'"
      (filterResult)="retrieveFilterResult($event)"></app-employee-type-filter>
  </div>

</section>
