.notification {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  /*padding: 0.75rem 1.25rem;*/
  padding: 0.15rem 0.25rem;
  border: 1px solid transparent;
  border-radius: 0.42rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 40px;
  margin-bottom: 1rem;
}

.alert-primary {
  background-color: #3F51B5;
  border-color: #3F51B5;
  color: #FFFFFF;
}

.alert-success {
  background-color: #1BC5BD;
  border-color: #1BC5BD;
  color: #ffffff;
}

.alert-info {
  background-color: #8950FC;
  border-color: #8950FC;
  color: #ffffff;
}

.alert-warning {
  background-color: #FFA800;
  border-color: #FFA800;
  color: #ffffff;
}

.alert-danger {
  background-color: #F64E60;
  border-color: #F64E60;
  color: #ffffff;
}

.close {
  float: right;
  cursor: pointer;
}

.message-div {
  /*flex: 0 0 85%;*/
}

.close-div {
  /*flex: 1;*/
}
