<div class="notification">
  <div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <div class="message-div"><span [innerHTML]="alert.message"></span></div>
    <div class="close-div"><a class="close" (click)="removeAlert(alert)">&times;</a></div>
  </div>
</div>
