<section>
  <div class="board-header">
    <h4>Employees</h4>
  </div>
  <div class="board-content">

    <div class="main-table-wrapper">
      <div class="main-table-section-wrapper">
        <table>
          <thead>
            <tr>
              <th>
                Name
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let employee of employees">
              <tr (click)="selectEmployee(employee)">
                <td>
                  {{employee.name}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="board-content-action-pagination-wrapper">
      <div *ngIf="page && page.totalPages !== 0" class="pagination-wrapper">
        <div class="pagination">
          <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
               (click)="displayFirstPageOfList()">
            <i class="fas fa-angle-double-left"></i>
          </div>
          <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
               (click)="displayPreviousPageOfList()">
            <i class="fas fa-angle-left"></i>
          </div>
          <div>Page {{page.number}} of {{page.totalPages}}</div>
          <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
               (click)="displayNextPageOfList()">
            <i class="fas fa-angle-right"></i>
          </div>
          <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
               (click)="displayLastPageOfList()">
            <i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



