.body {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #383838));
  background: linear-gradient(to right, white 50%, #383838 50%);
  line-height: 1.5;
  color: white;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-edge.png"), auto;
}

.page-not-found {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.page-not-found > * {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  padding: 2.5rem;
}

aside {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
}

aside img {
  display: block;
  height: auto;
  width: 100%;
}

main {
  text-align: center;
}

main h1 {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 4rem;
  color: #c5dc50;
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 2.5rem;
}

main p em {
  font-style: italic;
  color: #c5dc50;
}

main a {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 1rem;
  color: #383838;
  border: none;
  background-color: #f36a6f;
  padding: 1rem 2.5rem;
  -webkit-transform: skew(-5deg);
  transform: skew(-5deg);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"), auto;
}

main a:hover {
  background-color: #c5dc50;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

@media (max-width: 700px) {
  .body {
    background: #383838;
    font-size: 16px;
  }

  .page-not-found {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }

  .page-not-found > * {
    max-width: 700px;
    min-height: 100%;
  }

  aside {
    background-image: none;
    background-color: white;
  }

  aside img {
    max-width: 300px;
  }
}
