<section>
  <div class="page-content">

    <div class="page-content-actions-wrapper">
      <div class="page-content-action-link-wrapper">
        <div class="page-content-action-link"
             (click)="goToAddTimesheetRemarkForm()">
          New
        </div>
      </div>
    </div>

    <ng-container *ngIf="timesheetRemarks && timesheetRemarks.length !== 0">
      <div class="main-table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Remark</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let remark of timesheetRemarks">
            <tr>
              <td>{{remark.remark}}</td>
              <td>
                <div class="action-button-wrapper">
                  <div class="action-button-icon-wrapper">
                    <div (click)="goToEditTimesheetRemarkForm(remark.externalId)">
                      <i class="fas fa-pen"></i>
                    </div>
                  </div>
                  <div class="action-button-icon-wrapper">
                    <form>
                      <button class="button-inside-action-menu" type="submit"
                              (click)="delete(remark.externalId)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>

      <div class="pagination-wrapper" *ngIf="page && page.totalPages !== 0">
        <div class="pagination">
          <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
               (click)="displayFirstPageOfList()">
            <i class="fas fa-angle-double-left"></i>
          </div>
          <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
               (click)="displayPreviousPageOfList()">
            <i class="fas fa-angle-left"></i>
          </div>
          <div>Page {{page.number}} of {{page.totalPages}}</div>
          <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
               (click)="displayNextPageOfList()">
            <i class="fas fa-angle-right"></i>
          </div>
          <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
               (click)="displayLastPageOfList()">
            <i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</section>

