.page-nav-wrapper {
  width: 100%;
  padding: 10px;
}

/* ----- NAV ITEMS ----- */

.sidenav {
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
  padding: 6px 10px;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #e6e9ef;
  border-radius: 5px;
}

/* On mouse-over */
.dropdown-btn:hover {
  transition: all 300ms ease-in-out;
  background-color: #000000;
}

/* Dropdown container (hidden by default) */
.dropdown-container {
  display: none;
}

.dropdown-container a {
  text-decoration: none;
  color: #e6e9ef;
  display: block;
  padding: 6px 10px 6px 20px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-container a:hover {
  transition: all 300ms ease-in-out;
  background-color: #000000;
}

.dropdown-container .nav-link-active {
  color: #0085ff;
}

.link-title {
  padding-left: 5px;
}

/* Optional: Style the caret down icon */

.fa-caret-down-wrapper {
  float: right;
  padding-right: 4px;
}
