.surface {
  font-family: "Roboto", helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  background-color: #292f4c;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page {
  flex: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  border-radius: 12px 0 0 0;
  display: flex;
  flex-direction: column;
}

