<app-alert></app-alert>
<div class="surface">

  <div class="app-header-wrapper">
    <app-header></app-header>
  </div>

  <div class="page">
    <div class="page-header">
      <app-page-header></app-page-header>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    <div class="page-footer">
      <app-page-footer></app-page-footer>
    </div>
  </div>

</div>
