<div class="page-header">
  <h2 class="heading">{{pageTitle}}</h2>
  <div class="breadcrumbs">
    <ng-container *ngFor="let element of breadcrumbs; index as i">
        <div class="breadcrumbs-item-separator" *ngIf="i !== 0 && element.label !== ''">/</div>
        <a routerLink="{{element.url}}" class="breadcrumbs-item">
          <span [classList]="i === breadcrumbs.length - 1 ? 'breadcrumbs-text-active' : 'breadcrumbs-text'">
              <span *ngIf="i === 0"><i class="fas fa-home"></i>&nbsp;</span>
              {{element.label | titlecase}}
            </span>
        </a>
    </ng-container>
  </div>

  <div class="app-header-content-top-right">
    <ng-container *ngIf="currentUser">
      <div class="app-header-content-top-right-item app-header-user-avatar-component">
        <div class="app-header-user-avatar-image-wrapper">
          {{currentUser.username | uppercase | slice : 0 : 1 }}
        </div>
        <div class="app-header-user-menu">
          <div class="user-menu-header">
            <div class="user-menu-icon">
              <div class="user-menu-logo"></div>
            </div>
            <div>
              {{currentUser.username}}
            </div>
          </div>
          <div class="user-menu-content">
            <div class="user-menu-content-item">
              <div class="user-menu-icon">
                <i class="fas fa-user"></i>
              </div>
              <div>
                Profile
              </div>
            </div>
            <div class="user-menu-content-item" (click)="logout()">
              <div class="user-menu-icon">
                <i class="fas fa-sign-out-alt"></i>
              </div>
              <div>
                Logout
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!currentUser">
      <div class="app-header-content-top-right-item app-header-user-avatar-component">
        <div class="app-header-user-not-login">
          G
        </div>
        <div class="app-header-user-menu">
          <div class="user-menu-header">
            <div class="user-menu-icon">
              <i class="fas fa-user"></i>
            </div>
            <div>
              Guest
            </div>
          </div>
          <div class="user-menu-content">
            <div class="user-menu-content-item" (click)="goToLoginPage()">
              <div class="user-menu-icon">
                <i class="fas fa-sign-in-alt"></i>
              </div>
              <div>
                Login
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="app-header-content-top-right-item app-header-button">
      <div class="app-header-help-button-wrapper app-header-button-icon-wrapper">
        <i class="fas fa-question"></i>
      </div>
    </div>
    <div class="app-header-content-top-right-item app-header-button">
      <div class="app-header-search-button-wrapper app-header-button-icon-wrapper">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</div>
