.page-header {
  position: relative;
  border-bottom: 1px solid #e6e9ef;
  padding: 10px;
  text-align: left;
}

.heading {
  font-size: 1.5rem;
  padding: 10px;
}

/* ----- BREADCRUMB ----- */
.breadcrumbs {
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  zoom: 1;
  vertical-align: top;
}

.breadcrumbs-item {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
  padding: 10px;
}

.breadcrumbs-text {
  font-size: 0.9rem;
  color: #1f76c2;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s ease;
}

.breadcrumbs-text:hover {
  color: #0085ff;
}

.breadcrumbs-text-active {
  color: #767676;
}

.breadcrumbs-item-separator {
  padding: 10px 0;
}

/* ----- TOP RIGHT CONTENT ----- */

.app-header-content-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.app-header-content-top-right-item {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

/*  buttons  */

.app-header-button {
  width: 100%;
}

.app-header-button-icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.app-header-button-icon-wrapper:hover {
  transition: all 300ms ease-in-out;
  background-color: #e6e9ef;
}

/*  specific for user  */

.app-header-user-avatar-image-wrapper,
.app-header-user-not-login {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e44258;
  color: #FFFFFF;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app-header-user-not-login {
  background-color: #e6e9ef;
  color: #767676;
}

.app-header-user-avatar-image-wrapper:hover,
.app-header-user-not-login:hover {
  transform: scale(0.9) perspective(1px);
  transition: all 300ms ease-in-out;
  filter: brightness(90%);
}

.app-header-user-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  min-width: 250px;
  padding: 20px 10px 10px 10px;
  background-color: #FFFFFF;
  color: #767676;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.user-menu-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e9ef;
  display: flex;
  padding-left: 10px;
}

.user-menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.user-menu-logo {
  height: 100%;
  width: 100%;
  background: url("src/assets/images/logo-2.png") no-repeat;
  background-size: 100% 100%;
}

.user-menu-content {
  padding-top: 10px;
}

.user-menu-content-item {
  padding: 10px 0 10px 10px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
}

.user-menu-content-item:hover {
  background-color: #e6e9ef;
}
