<section>
  <div class="page-content" *ngIf="!currentUser">
    Login to see content!
  </div>
  <ng-container *ngIf="currentUser">
    <div class="page-content">

      <div class="page-content-actions-wrapper">
        <div class="page-content-action-link-wrapper">
          <div class="page-content-action-link"
               (click)="goToAddTimesheetForm()">
              <span *ngIf="timesheets.length !== 0">
                New
              </span>
            <span *ngIf="timesheets.length === 0">
                Add first item
              </span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="timesheets.length !== 0">
        <div class="main-table-wrapper">
          <table>
            <thead>
            <tr>

              <th>Employee</th>
              <th>
                Month
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.month"
                     (click)="enableSort(fields.month)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.month)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.month"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th>
                Year
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.year"
                     (click)="enableSort(fields.year)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.year)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.year"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th>Entries</th>
              <th>
                Status
                <div class="sort-button-wrapper"
                     [class.sort-button-wrapper-active]="fetchItemConditions.sortBy === fields.status"
                     (click)="enableSort(fields.status)">
                  <div class="sort-button">
                    <i [classList]="getSortCssClass(fields.status)"></i>
                  </div>
                </div>
                <div class="clear-sort-button"
                     *ngIf="fetchItemConditions.sortBy === fields.status"
                     (click)="clearSort()">
                  Clear
                </div>
              </th>
              <th>Total hours</th>
              <th>Total man days</th>
              <th>Remarks</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let timesheet of timesheets">
              <tr (click)="goToTimesheetDetailPage(timesheet.externalId)">

                <td>
                  <a *ngIf="timesheet.employee" (click)="$event.stopPropagation()"
                     routerLink="/employees/{{timesheet.employee.externalId}}">
                    {{timesheet.employee.name}}
                  </a>
                </td>
                <td>{{timesheet.month}}</td>
                <td>{{timesheet.year}}</td>
                <td>
                  <div [class.no-subitem]="timesheet.numberOfTimesheetEntries === 0">
                    <i class="fas fa-list"></i> &nbsp;
                    {{timesheet.numberOfTimesheetEntries}}
                  </div>
                </td>
                <td class="status"
                    [class.status-open]="timesheet.status === 'Open'">
                  {{timesheet.status}}
                </td>
                <td>{{timesheet.totalHours}}</td>
                <td>{{timesheet.totalManDays  | number : '1.0-2'}}</td>
                <td>
                  <div [class.no-subitem]="timesheet.numberOfTimesheetRemarks === 0">
                    <!-- Create an icon wrapped by the fa-stack class -->
                    <span class="fa-stack">
                          <!-- The icon that will wrap the number -->
                          <span class="far fa-comment fa-stack-2x"></span>
                      <!-- a strong element with the custom content, in this case a number -->
                          <span class="fa-stack-1x">
                              {{timesheet.numberOfTimesheetRemarks}}
                          </span>
                        </span>
                  </div>
                </td>
                <td>
                  <div class="action-button-wrapper">
                    <div class="action-button-icon-wrapper">
                      <div (click)="goToEditTimesheetForm(timesheet.externalId)">
                        <i class="fas fa-pen"></i>
                      </div>
                    </div>
                    <div class="action-button-icon-wrapper">
                      <form novalidate>
                        <button class="button-inside-action-menu" type="submit"
                                (click)="delete(timesheet.externalId); $event.stopPropagation()">
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>

        <div class="pagination-wrapper" *ngIf="page && page.totalPages !== 0">
          <div class="pagination">
            <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
                 (click)="displayFirstPageOfList()">
              <i class="fas fa-angle-double-left"></i>
            </div>
            <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
                 (click)="displayPreviousPageOfList()">
              <i class="fas fa-angle-left"></i>
            </div>
            <div>Page {{page.number}} of {{page.totalPages}}</div>
            <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
                 (click)="displayNextPageOfList()">
              <i class="fas fa-angle-right"></i>
            </div>
            <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
                 (click)="displayLastPageOfList()">
              <i class="fas fa-angle-double-right"></i>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</section>



