<div class="search-option-content">
  <div>
    <label for="search-box">Name</label>
    <input type="text" #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Type to search" autocomplete="off">
  </div>
</div>
