<section>
  <div class="filter-header">
    <div class="filter-options-wrapper">
      <div class="filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="filter-option"
             (click)="chooseFilterOption(option)">
          <i [classList]="isFilterOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{option | titlecase}}
        </div>
      </div>
    </div>
  </div>
  <div class="filter-options-content-wrapper">
    <div class="filter-form-wrapper">
      <form class="filter-form"
            (ngSubmit)="applyFilter()"
            novalidate>
        <app-employee-search (searchResult)="onSearch($event)"></app-employee-search>
        <ng-container *ngIf="chosenFilterOptions.length !== 0">
          <div class="filter-option-content" *ngIf="findIndexOfChosenFilterOption(fields.employeeType) !== -1">
            <div class="dropdown-input-wrapper">
              <div class="dropdown-button-wrapper"
                   (click)="toggleEmployeeTypeOptions()">
                <label for="employeeType">Employee Type</label>
                <div class="input-group">
                  <div class="input-group-main-section">
                    <input
                      [value]="chosenEmployeeType && chosenEmployeeType.name ? chosenEmployeeType.name : ''"
                      type="text" id="employeeType" name="employeeType">
                  </div>
                  <div class="input-append"><i class="fas fa-caret-down"></i></div>
                </div>
              </div>
              <div class="dropdown-options-wrapper"
                   *ngIf="isEmployeeTypeOptionsShown">
                <div class="dropdown-option"
                     *ngFor="let employeeType of employeeTypes; index as i"
                     [class.dropdown-option-first]="i==0"
                     (click)="chooseThisEmployeeType(employeeType)">
                  {{employeeType.name}}
                </div>
                <div class="dropdown-option dropdown-option-last"
                     (click)="showEmployeeTypeFilterComponent()">
                  more...
                </div>
              </div>
            </div>
          </div>
          <div class="filter-option-content" *ngIf="findIndexOfChosenFilterOption(fields.sourcer) !== -1">
            <div class="dropdown-input-wrapper">
              <div class="dropdown-button-wrapper"
                   (click)="toggleSourcerOptions()">
                <label for="sourcer">Sourcer</label>
                <div class="input-group">
                  <div class="input-group-main-section">
                    <input
                      [value]="chosenSourcer && chosenSourcer.name ? chosenSourcer.name : ''"
                      type="text" id="sourcer" name="sourcer">
                  </div>
                  <div class="input-append"><i class="fas fa-caret-down"></i></div>
                </div>
              </div>
              <div class="dropdown-options-wrapper"
                   *ngIf="isSourcerOptionsShown">
                <div class="dropdown-option"
                     *ngFor="let sourcer of sourcers; index as i"
                     [class.dropdown-option-first]="i==0"
                     (click)="chooseThisSourcer(sourcer)">
                  {{sourcer.name}}
                </div>
                <div class="dropdown-option dropdown-option-last"
                     (click)="showSourcerFilterComponent()">
                  more...
                </div>
              </div>
            </div>
          </div>
          <div class="filter-option-content" *ngIf="findIndexOfChosenFilterOption(fields.email) !== -1">
            <div>
              <label for="email">Email</label>
              <input
                [(ngModel)]="fetchItemConditions.email"
                type="text" id="email" name="email">
            </div>
          </div>
          <div class="filter-option-content" *ngIf="findIndexOfChosenFilterOption(fields.mobile) !== -1">
            <div>
              <label for="mobile">Mobile</label>
              <input
                [(ngModel)]="fetchItemConditions.mobile"
                type="text" id="mobile" name="mobile">
            </div>
          </div>
          <div class="filter-option-content" *ngIf="findIndexOfChosenFilterOption(fields.active) !== -1">
            <div>
              <label for="active">Active</label>
              <input
                [(ngModel)]="fetchItemConditions.active"
                type="text" id="active" name="active">
            </div>
          </div>
          <div class="filter-form-buttons-wrapper">
            <div class="clear-filter" (click)="clearFilters()">
              Clear all filters
            </div>
            <div>
              <button type="submit" class="standard-submit-button">
                Apply
              </button>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
    <div class="filter-form-supports-wrapper">
      <div  class="filter-form-support" *ngIf="isFilterListShown || showListForFirstFilter">
        <app-employee-filter-list [employeeApiData]="employeeApiData" (selectedEmployee)="onSelectEmployee($event)"></app-employee-filter-list>
      </div>
    </div>
  </div>

</section>
