<div [classList]="isNavBarExpand ? 'app-header' : 'app-header-collapse'">
  <div class="collapse-expand-button-wrapper"
       (click)="toggleNavBar()">
    <div class="collapse-expand-button">
      <i [classList]="isNavBarExpand ? 'fas fa-chevron-left' : 'fas fa-chevron-right'"></i>
    </div>
  </div>
  <div class="app-header-content-wrapper">
    <div class="app-header-content">
      <div class="app-header-content-left">
        <div class="app-header-company-logo">
          <a class="app-header-company-logo-image-wrapper" routerLink="/">
            <img [src]="isNavBarExpand ? 'assets/images/logo.png' : 'assets/images/logo-2.png'" alt="e-crystal">
          </a>
        </div>
        <div class="app-header-navbar">
          <div class="app-header-navbar-component">
            <app-nav></app-nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


