.app-header,
.app-header-collapse {
  height: 100%;
  color: #ffffff;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.app-header {
  width: 200px;
}

.app-header-collapse {
  width: 60px;
}

.app-header-collapse .app-header-navbar-component {
  visibility: hidden;
}

/* ----- COLLAPSE EXPAND  ----- */

.collapse-expand-button-wrapper {
  position: absolute;
  z-index: 2;
  top: 40px;
  right: -15px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767676;
  background-color: #ffffff;
  border: 1px solid #e6e9ef;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.collapse-expand-button-wrapper:hover,
.app-header:hover .collapse-expand-button-wrapper,
.app-header-collapse:hover .collapse-expand-button-wrapper {
  background-color: #0085ff;
  color: #ffffff;
  border: none;
}

/* ----- APP HEADER CONTENT ----- */

.app-header-content-wrapper {
  width: 100%;
  height: 100%;
}

.app-header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----- LEFT CONTENT ----- */

.app-header-content-left {
  display: flex;
  flex-direction: column;
}

/*  Logo  */

.app-header-company-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.app-header-company-logo-image-wrapper {
  width: 80%;
}

.app-header-company-logo-image-wrapper img {
  max-width: 100%;
}

/*  Nav bar  */

.app-header-navbar {
  width: 100%;
  position: relative;
}


