<section>
  <div class="page-content" *ngIf="!currentUser">
    Login to see content!
  </div>
  <ng-container *ngIf="currentUser">
    <div class="page-content">
      <div class="form-wrapper">
        <div class="my-form">
          <form (ngSubmit)="saveTimesheetEntry()"
                novalidate>
            <fieldset>
              <legend>Edit timesheet entry</legend>
              <div>
                <div class="dropdown-input-wrapper timesheet-dropdown">
                  <div class="dropdown-button-wrapper">
                    <label for="timesheet">Timesheet</label>
                    <div class="input-group">
                      <div class="input-group-main-section"
                           (click)="toggleDropdownOptions('erpTimesheets.timesheet')">
                        <input
                          (keyup)="searchHandler('erpTimesheets.timesheet', $event)"
                          [value]="chosenTimesheet ? chosenTimesheet.name : ''"
                          type="text" id="timesheet" name="timesheet" autocomplete="off">
                      </div>
                      <div class="clear-input" *ngIf="chosenTimesheet"
                           (click)="clearInputField('erpTimesheets.timesheet')"><i class="fas fa-times"></i></div>
                      <div class="input-append"
                           (click)="toggleDropdownOptions('erpTimesheets.timesheet')">
                        <i [classList]="isTimesheetOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                      </div>
                      <div class="input-append" (click)="showFilterComponentForCurrentField('erpTimesheets.timesheet')">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-options-wrapper"
                       *ngIf="isTimesheetOptionsShown">
                    <div class="dropdown-option"
                         *ngFor="let timesheet of timesheets; index as i"
                         [class.dropdown-option-first]="i==0"
                         (click)="chooseADropdownOption('erpTimesheets.timesheet', timesheet)">
                      {{timesheet.name}}
                    </div>
                    <div class="dropdown-option dropdown-option-last"
                         (click)="showFilterComponentForCurrentField('erpTimesheets.timesheet')">
                      more...
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="dropdown-input-wrapper project-dropdown">
                  <div class="dropdown-button-wrapper">
                    <label for="project">Project</label>
                    <div class="input-group">
                      <div class="input-group-main-section"
                           (click)="toggleDropdownOptions('enterprise.project')">
                        <input
                          (keyup)="searchHandler('enterprise.project', $event)"
                          [value]="chosenProject ? chosenProject.name : ''"
                          type="text" id="project" name="project" autocomplete="off">
                      </div>
                      <div class="clear-input" *ngIf="chosenProject" (click)="clearInputField('enterprise.project')"><i
                        class="fas fa-times"></i></div>
                      <div class="input-append"
                           (click)="toggleDropdownOptions('enterprise.project')">
                        <i [classList]="isProjectOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                      </div>
                      <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.project')">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-options-wrapper"
                       *ngIf="isProjectOptionsShown">
                    <div class="dropdown-option"
                         *ngFor="let project of projects; index as i"
                         [class.dropdown-option-first]="i==0"
                         (click)="chooseADropdownOption('enterprise.project', project)">
                      {{project.name}}
                    </div>
                    <div class="dropdown-option dropdown-option-last"
                         (click)="showFilterComponentForCurrentField('enterprise.project')">
                      more...
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="dropdown-input-wrapper subproject-dropdown">
                  <div class="dropdown-button-wrapper">
                    <label for="subproject">Subproject</label>
                    <div class="input-group">
                      <div class="input-group-main-section"
                           (click)="toggleDropdownOptions('enterprise.subproject')">
                        <input
                          (keyup)="searchHandler('enterprise.subproject', $event)"
                          [value]="chosenSubproject ? chosenSubproject.name : ''"
                          type="text" id="subproject" name="subproject" autocomplete="off">
                      </div>
                      <div class="clear-input" *ngIf="chosenSubproject"
                           (click)="clearInputField('enterprise.subproject')"><i class="fas fa-times"></i></div>
                      <div class="input-append"
                           (click)="toggleDropdownOptions('enterprise.subproject')">
                        <i [classList]="isSubprojectOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                      </div>
                      <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.subproject')">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-options-wrapper"
                       *ngIf="isSubprojectOptionsShown">
                    <div class="dropdown-option"
                         *ngFor="let subproject of subprojects; index as i"
                         [class.dropdown-option-first]="i==0"
                         (click)="chooseADropdownOption('enterprise.subproject', subproject)">
                      {{subproject.name}}
                    </div>
                    <div class="dropdown-option dropdown-option-last"
                         (click)="showFilterComponentForCurrentField('enterprise.subproject')">
                      more...
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <!--Default input field for date: start-->
                <label for="date">Date</label>
                <input [(ngModel)]="timesheetEntry.date"
                       type="date"
                       id="date"
                       name="date"
                       required>
                <!--Default input field for date: end-->
              </div>
              <div>
                <!--Default input field for date: start-->
                <label for="hour">Hour</label>
                <input [(ngModel)]="timesheetEntry.hours"
                       id="hour"
                       type="number"
                       name="hour"
                       required>
                <!--Default input field for date: end-->
              </div>
              <div>
                <label for="description">Description</label>
                <input [(ngModel)]="timesheetEntry.description"
                       type="text"
                       id="description"
                       name="description">
              </div>
            </fieldset>
            <button type="submit" class="standard-submit-button">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="filter-component-wrapper" *ngIf="isFilterMenuShown">
      <app-filter [showListForFirstFilter]="true"></app-filter>
    </div>
  </ng-container>
</section>
