<section>
  <div class="page-header">
    <h4>Timesheets</h4>
  </div>
  <div class="page-content">

    <div class="main-table-wrapper">
      <table *ngIf="timesheets && timesheets.length !== 0">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let timesheet of timesheets">
          <tr (click)="selectTimesheet(timesheet)">
            <td>{{timesheet.name}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>

    <div class="pagination-wrapper" *ngIf="page && page.totalPages !== 0">
      <div class="pagination">
        <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
             (click)="displayFirstPageOfList()">
          <i class="fas fa-angle-double-left"></i>
        </div>
        <div [classList]="page.number == 1 ? 'link-inactive' : 'link'"
             (click)="displayPreviousPageOfList()">
          <i class="fas fa-angle-left"></i>
        </div>
        <div>Page {{page.number}} of {{page.totalPages}}</div>
        <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
             (click)="displayNextPageOfList()">
          <i class="fas fa-angle-right"></i>
        </div>
        <div [classList]="page.number == page.totalPages ? 'link-inactive' : 'link'"
             (click)="displayLastPageOfList()">
          <i class="fas fa-angle-double-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>



