<section>
  <div class="page-content" *ngIf="!currentUser">
    Login to see content!
  </div>
  <ng-container *ngIf="currentUser">
    <div class="page-content">
      <div class="form-wrapper">
        <div class="my-form">
          <form (ngSubmit)="addTimesheet()"
                novalidate>
            <fieldset>
              <legend>Add new timesheet</legend>
              <div>
                <div class="dropdown-input-wrapper employee-dropdown">
                  <div class="dropdown-button-wrapper">
                    <label for="employee">Employee</label>
                    <div class="input-group">
                      <div class="input-group-main-section"
                           (click)="toggleDropdownOptions('enterprise.employee')">
                        <input
                          (keyup)="searchHandler('enterprise.employee', $event)"
                          [value]="chosenEmployee ? chosenEmployee.name : ''"
                          type="text" id="employee" name="employee" autocomplete="off">
                      </div>
                      <div class="clear-input" *ngIf="chosenEmployee" (click)="clearInputField('enterprise.employee')">
                        <i class="fas fa-times"></i></div>
                      <div class="input-append"
                           (click)="toggleDropdownOptions('enterprise.employee')">
                        <i [classList]="isEmployeeOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                      </div>
                      <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.employee')">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-options-wrapper"
                       *ngIf="isEmployeeOptionsShown">
                    <div class="dropdown-option"
                         *ngFor="let employee of employees; index as i"
                         [class.dropdown-option-first]="i==0"
                         (click)="chooseADropdownOption('enterprise.employee', employee)">
                      {{employee.name}}
                    </div>
                    <div class="dropdown-option dropdown-option-last"
                         (click)="showFilterComponentForCurrentField('enterprise.employee')">
                      more...
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label for="month">Month</label>
                <input
                  [(ngModel)]="timesheet.month"
                  type="text" id="month" name="month">
              </div>
              <div>
                <label for="year">Year</label>
                <input
                  [(ngModel)]="timesheet.year"
                  type="text" id="year" name="year">
              </div>
            </fieldset>
            <button type="submit" class="standard-submit-button">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="filter-component-wrapper" *ngIf="isFilterMenuShown">
      <app-filter [showListForFirstFilter]="true"></app-filter>
    </div>
  </ng-container>
</section>
