<section>
  <div class="page-content">
    <div class="login-panel">
      <div class="logo">
        <img src="assets/images/logo.png" alt="e-crystal">
      </div>
      <div>
        <div class="form-wrapper">
          <div class="my-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                  novalidate>
              <fieldset>
                <legend></legend>
                <div>
                  <label for="username"></label>
                  <div class="input-wrapper">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <input formControlName="username"
                      type="text" id="username" name="username" placeholder="Username">
                  </div>
                </div>
                <div>
                  <label for="password"></label>
                  <div class="input-wrapper">
                    <div class="icon"><i class="fas fa-key"></i></div>
                    <input formControlName="password"
                      type="password" id="password" name="password" placeholder="Password" autocomplete="off">
                  </div>
                </div>
              </fieldset>
              <button type="submit" class="standard-submit-button">
                Login
              </button>
            </form>
          </div>
        </div>
        <div class="links">
          <div class="link">
            <a href="https://foundation.stars-end.net/">
              <img src="assets/images/ns-documentation.png" alt="ns-documentation">
            </a>
            <div class="text">
              FOUNDATION
            </div>
          </div>
          <div class="link">
            <a href="https://foundation.stars-end.net/">
              <img src="assets/images/ns-library.png" alt="ns-library">
            </a>
            <div class="text">
              NS LIBRARY
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
