section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background: url("src/assets/images/bg.jpg") no-repeat;
  background-size: 100% 100%;

}

.page-content {
  width: 100%;
  height: 100%;
}

.login-panel {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  background: rgba(0, 67, 106, 0.9);
}

.logo {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.logo img {
  height: 80px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form {
  width: 80%;
  border-radius: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.link {
  background-color: #00273d;
  border-radius: 8px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.link a img {
  padding: 10px;
}

.text {
  color: #ffffff;
}

/* ----- FORM SPECIAL FOR LOGIN ----- */

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

input, select {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1rem;
}

input:focus, select:focus {
  outline: none;
}

form .standard-submit-button {
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 6px;*/
  margin-bottom: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

form .standard-submit-button:hover {
  background-color: #45a049;
}

form .standard-submit-button:focus {
  outline: none;
}

form .input-wrapper {
  position: relative;
}

form .icon {
  color: #767676;
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 2000;
}

