section {
  width: 100%;
  min-height: calc(100vh - 179.6px);
  display: flex;
}

.page-content {
  flex: 70%;
  min-height: 100%;
}

.filter-component-wrapper {
  flex: 30%;
  padding: 20px;
  border-left: 1px solid #e6e9ef;
}

/* ----- CONTENT ----- */

.form-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
}

.my-form {
  width: 60%;
  min-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* ----- FORM ----- */

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

input, select {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1rem;
}

input:focus, select:focus {
  outline: none;
}

form .standard-submit-button {
  width: 100%;
  border: none;
  border-radius: 4px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

form .standard-submit-button:hover {
  background-color: #45a049;
}

form .standard-submit-button:focus {
  outline: none;
}

form .dropdown-input-wrapper {
  position: relative;
  width: 100%;
}

form .dropdown-button-wrapper {

}

form .input-group {
  display: flex;
}

form .input-group-main-section {
  flex-basis: 100%;
}

form .input-group-main-section input {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

form .input-append {
  border: 1px solid #ccc;
  border-right: none;
  width: 40px;
  margin-top: 6px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

form .input-append:last-child {
  border-right: 1px solid #cccccc;
  border-radius: 0 4px 4px 0;
}

form .clear-input {
  margin-top: 6px;
  height: 35px;
  display: flex;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
  color: #e6e9ef;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

form .clear-input:hover {
  color: #767676;
}

form .input-append:hover {
  background-color: #e6e9ef;
}

form .dropdown-options-wrapper {
  background-color: #ffffff;
  width: 100%;
  max-height: 175px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  top: 65px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

form .dropdown-option {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

form .dropdown-option:hover {
  background-color: #e6e9ef;
}

form .dropdown-option-last {
  font-style: italic;
}

/* ----- CUSTOM ----- */
.check-icon-wrapper {
  cursor: pointer;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}

.check-icon-wrapper:hover {
  color: #0085ff;
}

.d-none {
  display: none;
}
