<section>
  <div class="page-content" *ngIf="!currentUser">
    Login to see content!
  </div>
  <ng-container *ngIf="currentUser">
    <div class="page-content">
      <ng-container *ngIf="numberOfDataChildren !== 0">
        <div class="tabs-wrapper">
          <a class="arrow leftArrow" (click)="showPreviousTab()">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="arrow rightArrow" (click)="showNextTab()">
            <i class="fas fa-chevron-right"></i>
          </a>
          <div class="tab">
            <div class="tab-buttons">
              <a class="tab-links" routerLink="timesheetentries" routerLinkActive="active">
                Timesheet Entries
              </a>
              <a class="tab-links" routerLink="timesheetremarks" routerLinkActive="active">
                Timesheet Remarks
              </a>
            </div>
          </div>
          <div class="tab-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </ng-container>
      <div class="main-table-wrapper">
        <div class="main-table-header">
          <h3>
            Details
          </h3>
          <div class="action-button-wrapper">
            <div class="action-button-icon-wrapper" (click)="goToEditTimesheetForm(timesheet.externalId)">
              <div>
                <i class="fas fa-pen"></i>
              </div>
            </div>
            <form novalidate>
              <div class="action-button-icon-wrapper">
                <button class="button-inside-action-menu" type="submit"
                        (click)="delete(timesheet.externalId)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="table-wrapper">
          <table *ngIf="timesheet">
            <tbody>
            <tr>
              <th>Employee</th>
              <td>
                <a *ngIf="timesheet.employee"
                   routerLink="/employees/{{timesheet.employee.externalId}}">
                  {{timesheet.employee.name}}
                </a>
              </td>
            </tr>
            <tr>
              <th>Month</th>
              <td>{{timesheet.month}}</td>
            </tr>
            <tr>
              <th>Year</th>
              <td>{{timesheet.year}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td class="status"
                  [class.status-open]="timesheet.status === 'Open'">
                {{timesheet.status}}
              </td>
            </tr>
            <tr>
              <th>Total hours</th>
              <td>{{timesheet.totalHours}}</td>
            </tr>
            <tr>
              <th>Total man days</th>
              <td>{{timesheet.totalManDays  | number : '1.0-2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>

</section>



