<section>
  <div class="page-content" *ngIf="!currentUser">
    Login to see content!
  </div>
  <ng-container *ngIf="currentUser">
    <div class="page-content">
      <ng-container *ngIf="numberOfDataChildren !== 0">
        <div class="tabs-wrapper">
          <a class="arrow leftArrow" (click)="showPreviousTab()">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="arrow rightArrow" (click)="showNextTab()">
            <i class="fas fa-chevron-right"></i>
          </a>
          <div class="tab">
            <div class="tab-buttons">
              <a class="tab-links" routerLink="expenses" routerLinkActive="active">
                Expenses
              </a>
              <!--<a class="tab-links" routerLink="test1" routerLinkActive="active">
                Testing tab link1
              </a>
              <a class="tab-links" routerLink="test2" routerLinkActive="active">
                Testing tab link2
              </a>
              <a class="tab-links" routerLink="test3" routerLinkActive="active">
                Testing tab link3
              </a>
              <a class="tab-links" routerLink="test4" routerLinkActive="active">
                Testing tab link4
              </a>
              <a class="tab-links" routerLink="test5" routerLinkActive="active">
                Testing tab link5
              </a>
              <a class="tab-links" routerLink="test6" routerLinkActive="active">
                Testing tab link6
              </a>
              <a class="tab-links" routerLink="test7" routerLinkActive="active">
                Testing tab link7
              </a>
              <a class="tab-links" routerLink="test8" routerLinkActive="active">
                Testing tab link8
              </a>-->
            </div>
          </div>
          <div class="tab-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </ng-container>
      <div class="main-table-wrapper">
        <div class="main-table-header">
          <h3>
            Details
          </h3>
          <div class="action-button-wrapper">
            <div class="action-button-icon-wrapper" (click)="goToEditTimesheetEntryForm(timesheetEntry.externalId)">
              <div>
                <i class="fas fa-pen"></i>
              </div>
            </div>
            <form novalidate>
              <div class="action-button-icon-wrapper">
                <button class="button-inside-action-menu" type="submit"
                        (click)="delete(timesheetEntry.externalId)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="table-wrapper">
          <table *ngIf="timesheetEntry">
            <tbody>
            <tr>
              <th>Timesheet</th>
              <td>
                <a *ngIf="timesheetEntry.timesheet"
                   routerLink="/timesheets/{{timesheetEntry.timesheet.externalId}}/timesheetentries">
                  {{timesheetEntry.timesheet.name}}
                </a>
              </td>
            </tr>
            <tr>
              <th>Project</th>
              <td>
                <a *ngIf="timesheetEntry.project"
                   routerLink="/projects/{{timesheetEntry.project.externalId}}/projectresourceroles">
                  {{timesheetEntry.project.name}}
                </a>
              </td>
            </tr>
            <tr>
              <th>Subproject</th>
              <td>
                <a *ngIf="timesheetEntry.subproject"
                   routerLink="/subprojects/{{timesheetEntry.subproject.externalId}}">
                  {{timesheetEntry.subproject.name}}
                </a>
              </td>
            </tr>
            <tr>
              <th>Date</th>
              <td>{{timesheetEntry.date | date : 'dd/MM/YYYY'}}</td>
            </tr>
            <tr>
              <th>Hours</th>
              <td>{{timesheetEntry.hours}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td class="status"
                  [class.status-open]="timesheetEntry.status === 'Open'">
                {{timesheetEntry.status}}
              </td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{timesheetEntry.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>

</section>



