section {
  width: 100%;
  /*height: calc(100vh - 179.6px);*/
  min-height: calc(100vh - 179.6px);
  min-width: 1300px;
  display: flex;
  flex-direction: column;
}

/* ----- PAGE CONTENT ----- */

.page-content {
  flex: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
}

/* ----- TABS ----- */

.tabs-wrapper {
  max-width: 100%;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.arrow {
  cursor: pointer;
  display: block;
  text-decoration: none;
  position: absolute;
  z-index: 3;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}


.leftArrow {
  left: 0;
  margin-left: 5px;
  padding-right: 20px;
}

.rightArrow {
  right: 0;
  margin-right: 5px;
  padding-left: 20px;
}

.tab {
  margin: 0 15px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}

.tab-buttons {
  margin-left: 0;
  transition: all 0.3s linear;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: -1px;
}

.tab-links {
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.active {
  color: #767676;
  border-bottom-color: #cccccc;
}

.active:hover {
  color: #767676;
}

.tab-content {

}


/* ----- MAIN TABLE ----- */

.main-table-wrapper {
  padding: 20px;
  /*flex: 30%;*/
  min-width: 400px;
  max-width: 600px;
  min-height: 100%;
}

/*  Header  */

.main-table-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  border-bottom: 1px solid #cccccc;
}

.main-table-header h3 {
  font-size: 1.2rem;
}

/*  Action buttons  */

.action-button-wrapper {
  display: flex;
}

.action-button-icon-wrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #e6e9ef;
  cursor: pointer;
}

.action-button-icon-wrapper:hover {
  color: #767676;
}

.button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

/*  Table  */

.table-wrapper {
  padding: 20px;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  color: #666666;
  background-color: #f5f6f8;
  padding: 2px 10px;
}

/*  Custom columns  */

/*  Status  */

.status-open {
  background-color: #00c875;
  color: #ffffff;
}

/* ----- LINKS ----- */

a {
  color: #1f76c2;
  text-decoration: none;
}

a:hover {
  color: #0085ff;
}

