<section>
  <div class="filter-header">
    <div class="filter-options-wrapper">
      <div class="filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="filter-option"
             (click)="chooseFilterOption(option)">
          <i [classList]="isFilterOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{option | titlecase}}
        </div>
      </div>
    </div>
  </div>
  <div class="filter-options-content-wrapper">
    <div class="filter-form-wrapper">
      <form class="filter-form" *ngIf="chosenFilterOptions.length !== 0"
            (ngSubmit)="applyFilter()"
            novalidate>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.employee)">
          <div class="dropdown-input-wrapper">
            <div class="dropdown-button-wrapper">
              <label for="employee">Employee</label>
              <div class="input-group">
                <div class="input-group-main-section"
                     (click)="toggleDropdownOptions('enterprise.employee')">
                  <input
                    [value]="chosenEmployee ? chosenEmployee.name : ''"
                    type="text" id="employee" name="employee" autocomplete="off">
                </div>
                <div class="clear-input" *ngIf="chosenEmployee" (click)="clearInputField('enterprise.employee')"><i class="fas fa-times"></i></div>
                <div class="input-append"
                     (click)="toggleDropdownOptions('enterprise.employee')">
                  <i [classList]="isEmployeeOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                </div>
                <div class="input-append" (click)="showFilterComponentForCurrentField('enterprise.employee')">
                  <i class="fas fa-search"></i>
                </div>
              </div>
            </div>
            <div class="dropdown-options-wrapper"
                 *ngIf="isEmployeeOptionsShown">
              <div class="dropdown-option"
                   *ngFor="let employee of employees; index as i"
                   [class.dropdown-option-first]="i==0"
                   (click)="chooseADropdownOption('enterprise.employee', employee)">
                {{employee.name}}
              </div>
              <div class="dropdown-option dropdown-option-last"
                   (click)="showFilterComponentForCurrentField('enterprise.employee')">
                more...
              </div>
            </div>
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.month)">
          <div>
            <label for="month">Month</label>
            <input
              [(ngModel)]="fetchItemConditions.month"
              type="text" id="month" name="month">
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.year)">
          <div>
            <label for="year">Year</label>
            <input
              [(ngModel)]="fetchItemConditions.year"
              type="text" id="year" name="year">
          </div>
        </div>
        <div class="filter-option-content" *ngIf="isFilterOptionChosen(fields.status)">
          <div>
            <label for="status">Status</label>
            <input
              [(ngModel)]="fetchItemConditions.status"
              type="text" id="status" name="status">
          </div>
        </div>
        <div class="filter-form-buttons-wrapper">
          <div class="clear-filter" (click)="clearFilters()">
            Clear all filters
          </div>
          <div>
            <button type="submit" class="standard-submit-button">
              Apply
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="filter-form-supports-wrapper">
      <div class="filter-form-support" *ngIf="isFilterListShown || showListForFirstFilter">
        <app-timesheet-filter-list [timesheetApiData]="timesheetApiData" (selectedTimesheet)="onSelectTimesheet($event)"></app-timesheet-filter-list>
      </div>
    </div>
  </div>

</section>
